# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_
+ List popular languages for Data Science
+ Commonly used libraries used by Data Scientists
+ Examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. pytorch
2. marplotlib
3. pandas

| Data Science Tools|
| ----------------- |
| MySQL |
| Apache Airflow |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python

_This a simple arithmetic expression to mutiply then add integers_

In [4]:
(3*4)+5

17

_This will convert 200 minutes to hours by diving by 60_

In [5]:
200/60

3.3333333333333335

## Author
Maryna Vasylchuk